# Assignment-3: Based on Pandas

In [ ]:
import pandas as pd

## Q1: Create Dataset

In [ ]:
data = {
    'Name': ['John', 'Jane', 'Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Frank', 'Grace'],
    'Age': [23, 25, 30, 22, 28, 26, 32, 29, 24],
    'City': ['NY', 'LA', 'Chicago', 'Houston', 'Phoenix', 'Dallas', 'Austin', 'Seattle', 'Denver'],
    'Marks': [87, 92, 79, 85, 90, 88, 75, 80, 95]
}
df = pd.DataFrame(data)
print(df)

## Q2: Locate rows 0, 4, 7 and 8

In [ ]:
print(df.loc[[0, 4, 7, 8]])

## Q3: Navigate the DataFrame

In [ ]:
# 1. Row index 3 to 7
print(df.iloc[3:8])

In [ ]:
# 2. Row index 4 to 8, column 2 to 4
print(df.iloc[4:9, 2:5])

In [ ]:
# 3. All rows, column index 1 to 3
print(df.iloc[:, 1:4])

## Q4: Read CSV and display first five rows

In [ ]:
iris_df = pd.read_csv('Iris.csv')  # Ensure Iris.csv is in the same directory
print(iris_df.head())

## Q5: Delete row 4 and column 3

In [ ]:
iris_modified = iris_df.drop(index=4).drop(iris_df.columns[3], axis=1)
print(iris_modified.head())

## Q6: Create employee dataset and perform operations

In [ ]:
emp_data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}
emp_df = pd.DataFrame(emp_data)
emp_df['Joining_Date'] = pd.to_datetime(emp_df['Joining_Date'])
emp_df.to_csv('employees.csv', index=False)
emp_df.head()

In [ ]:
# a) Shape
print(emp_df.shape)

In [ ]:
# b) Info
print(emp_df.info())

In [ ]:
# c) Descriptive stats
print(emp_df.describe(include='all'))

In [ ]:
# d) Head and Tail
print(emp_df.head())
print(emp_df.tail(3))

In [ ]:
# e) Stats
print("Average Salary:", emp_df['Salary'].mean())
print("Total Bonus:", emp_df['Bonus'].sum())
print("Youngest Age:", emp_df['Age'].min())
print("Highest Rating:", emp_df['Rating'].max())

In [ ]:
# f) Sort by Salary
print(emp_df.sort_values(by='Salary', ascending=False))

In [ ]:
# g) Add Performance column
def performance_category(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

emp_df['Performance'] = emp_df['Rating'].apply(performance_category)
emp_df

In [ ]:
# h) Missing values
print(emp_df.isnull().sum())

In [ ]:
# i) Rename column
emp_df.rename(columns={'Employee_ID': 'ID'}, inplace=True)

In [ ]:
# j) Filters
print(emp_df[emp_df['Years_of_Experience'] > 5])
print(emp_df[emp_df['Department'] == 'IT'])

In [ ]:
# k) Add Tax column
emp_df['Tax'] = emp_df['Salary'] * 0.10

In [ ]:
# l) Save to new CSV
emp_df.to_csv('employees_modified.csv', index=False)